@import "color";
@import "font"
;
.scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: #575757;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #bababa;
  }
  &::-webkit-scrollbar-thumb:active {
    background: #9e9e9e;
  }
  &::-webkit-scrollbar-track {
    background: #b8b8b8;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-track:hover {
    background: #e6e6e6;
  }
  &::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.global-wrapper {
  display: flex;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  @extend .scrollbar;
  > * {
    margin-bottom: 1em;
  }
}

body {
  .css-1rwt2y5-MuiButtonBase-root-MuiButton-root.Mui-disabled {
    border-color: $color-white;
    background: $color-gray;
    @extend .text-r-14-white;
    cursor: not-allowed;
  }

  .css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
    @extend .text-r-14-blue;
    border-color: $color-blue;

  }

  .css-1rwt2y5-MuiButtonBase-root-MuiButton-root:hover {
    border: solid 1px $color-blue;
  }

  .css-1rwt2y5-MuiButtonBase-root-MuiButton-root.active {
    border: solid 1px $color-white;
  }

  .css-180lf2n-MuiButtonBase-root-MuiButton-root {
    border-color: $color-red;
    @extend .text-r-14-blue;
    color: $color-red !important;
  }



}
